<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoiKy6c_XwBRcFg0yfvMG5yoqgxNH4CMM</string>
	<key>GCM_SENDER_ID</key>
	<string>522376037819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeSabor.dev</string>
	<key>PROJECT_ID</key>
	<string>cafesabor-3ac29</string>
	<key>STORAGE_BUCKET</key>
	<string>cafesabor-3ac29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522376037819:ios:f3c0ee623ab353d8dc309e</string>
</dict>
</plist>